<div class="mp-home">
    <h1 class="mp-home__title">Matheportal</h1>

    <div class="mp-home__grid">
        <a class="mp-home__card-link" routerLink="/minikaenguru-anwendung">
            <mat-card class="mp-home-card mp-home-card--minikaenguru">
                <mat-card-header>
                    <mat-card-title>Minikänguru</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mp-home-card__content">
                    Mathewettbewerb für die 1. und 2. Klasse
                </mat-card-content>
            </mat-card>
        </a>

        <a class="mp-home__card-link" routerLink="/raetselbaukasten">
            <mat-card class="mp-home-card mp-home-card--raetselbaukasten">
                <mat-card-header>
                    <mat-card-title>Rätselbaukasten</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mp-home-card__content">
                    Arbeitsblätter und Knobelkarteien herunterladen
                </mat-card-content>
            </mat-card>
        </a>
    </div>
</div>
