<div class="home">
    <h1 class="home__title">Matheportal</h1>

    <div class="home__grid">
        <a class="home__card-link" routerLink="/minikaenguru-anwendung">
            <mat-card class="home-card home-card--minikaenguru">
                <mat-card-header>
                    <mat-card-title>Minikänguru</mat-card-title>
                </mat-card-header>
                <mat-card-content class="home-card__content">
                    Mathewettbewerb für die 1. und 2. Klasse
                </mat-card-content>
            </mat-card>
        </a>

        <a class="home__card-link" routerLink="/raetselbaukasten">
            <mat-card class="home-card home-card--raetselbaukasten">
                <mat-card-header>
                    <mat-card-title>Rätselbaukasten</mat-card-title>
                </mat-card-header>
                <mat-card-content class="home-card__content">
                    Arbeitsblätter und Knobelkarteien herunterladen
                </mat-card-content>
            </mat-card>
        </a>
    </div>
</div>
