<div class="mka-orte-suchen">
    <h2 class="mka-orte-suchen__title">Ort suchen</h2>

    <div class="mka-orte-suchen__search-field">
        <label class="mka-orte-suchen__label" for="term">Name</label>
        <input id="term" class="mka-orte-suchen__input" type="text" [formField]="searchForm.term" />

        @if (showTermError()) {
            <div id="term-error" class="mka-orte-suchen__validation" aria-live="polite">
                @for (error of searchForm.term().errors(); track error.kind) {
                    <p class="mka-orte-suchen__error">
                        {{ error.message }}
                    </p>
                }
                @if (unsupportedCharacters().length > 0) {
                    <span class="search-field__hint">
                        Nicht erlaubt:
                        {{ unsupportedCharacters().join(', ') }}
                    </span>
                }

                <p class="mka-orte-suchen__validation-hint">
                    {{ validationHint }}
                </p>
            </div>
        }
    </div>

    @if (orteLoaded()) {
        <p class="mka-orte-suchen__result-count">Anzahl Orte: {{ orte().length }}</p>

        <div class="mka-orte-suchen__results">
            @for (ort of orte(); track ort.kuerzel) {
                <mka-ort-card [ort]="ort" (ortSelected)="ortSelected.emit($event)" />
            }
        </div>
    } @else {
        <p class="mka-orte-suchen__result-count">Bitte geben Sie einen Ort ein.</p>
    }
</div>
