<div class="rbk-guest-info">
    <div class="rbk-guest-info__emphasized">
        Mit dem Rätselbaukasten können Sie Knobelkarteien und Arbeitsblätter für den Unterricht oder zu Hause erstellen.
    </div>

    <p>
        Die Sammlung enthält Aufgaben, die gezielt das Denken und die Entwicklung von Problemlösestrategien fördern.
        Derzeit verfügbar: xxx Aufgaben aus über 20 Jahren Minikänguru-Wettbewerb und einer virtuellen Mathe-AG.
    </p>

    <div class="rbk-guest-info__emphasized">
        Hinweis: Bei den Arbeitsblättern sind die Seitenumbrüche noch nicht flexibel konfigurierbar.
    </div>

    <p>
        Um den Rätselbaukasten zu nutzen, loggen Sie sich bitte ein. Wenn Sie noch kein Benutzerkonto haben, legen Sie
        eins an.
    </p>
</div>
