<div class="rbk-guest-info">
    <div class="rbk-guest-info__emphasized">
        Mit dem Rätselbaukasten können Sie Knobelkarteien und Arbeitsblätter für den Unterricht oder zu Hause erstellen.
    </div>

    <p>
        Die Sammlung enthält Aufgaben, die gezielt das Denken und die Entwicklung von Problemlösestrategien fördern.
        Derzeit verfügbar: xxx Aufgaben aus über 20 Jahren Minikänguru-Wettbewerb und einer virtuellen Mathe-AG.
    </p>

    <div class="rbk-guest-info__emphasized">
        Hinweis: Bei den Arbeitsblättern sind die Seitenumbrüche noch nicht flexibel konfigurierbar.
    </div>

    <div class="rbk-guest-info__login-hint" aria-labelledby="rbk-login-hint-title">
        <mat-icon class="rbk-guest-info__login-hint-icon" aria-hidden="true">lock</mat-icon>

        <div class="rbk-guest-info__login-hint-text">
            <h2 id="rbk-login-hint-title">Login erforderlich</h2>
            <p>
                Bitte nutzen Sie den Login-Button in der Navigation, um den Rätselbaukasten zu öffnen. Wenn Sie noch
                kein Benutzerkonto haben, können Sie den Benutzerkonto-Button in der Navigation nutzen.
            </p>
        </div>
    </div>
</div>
