<article class="mk-admin-schule-card">
    <div class="mk-admin-schule-card__content">
        <h3 class="mk-admin-schule-card__name">
            {{ schule().name }}
        </h3>

        <div class="mk-admin-schule-card__meta">
            <span>{{ schule().kuerzel }}</span>
            <span>{{ schule().ort.name }} ({{ schule().ort.kuerzel }})</span>
            <span>{{ schule().ort.land.kuerzel }}</span>
        </div>
    </div>

    <footer class="mk-admin-schule-card__actions">
        <button type="button" class="mk-admin-schule-card__action" (click)="schuleUmbenennenSelected.emit(schule())">
            umbenennen
        </button>
    </footer>
</article>
