<div class="mk-admin-dashboard">
    <h1 class="mk-admin-dashboard__heading">Administration</h1>

    <div class="mk-admin-dashboard__content">
        <a
            class="mk-admin-dashboard__card"
            data-testid="schulkatalog-link"
            routerLink="/minikaenguru-admin/schulkatalog">
            <h2 class="mk-admin-dashboard__card-heading" data-testid="schulkatalog-heading">Schulkatalog</h2>

            <div class="mk-admin-dashboard__card-content" data-testid="schulkatalog-content">
                <p>Schulen suchen und den Schulkatalog verwalten</p>
            </div>
        </a>
    </div>
</div>
