<div class="mk-admin-schulkatalog">
    @if (isSchulenLoaded()) {
        <mk-admin-schulen-list
            [selectedOrt]="beschreibungSelectedOrt()"
            [schulen]="schulen()"
            [schulenLoaded]="isSchulenLoaded()"
            (backToOrte)="onBackToOrte()"
            (backToLaender)="onBackToLaender()"
            (schuleAnlegen)="onSchuleAnlegen()"
            (schuleUmbenennen)="onSchuleUmbenennen($event)" />
    } @else {
        @if (isOrteLoaded()) {
            <mk-admin-orte-list
                [selectedLand]="nameSelectedLand()"
                [orte]="orte()"
                [orteLoaded]="isOrteLoaded()"
                (backToLaender)="onBackToLaender()"
                (ortMitSchuleAnlegen)="onOrtMitSchuleAnlegen()"
                (ortSelected)="onOrtSelected($event)" />
        } @else {
            <mk-admin-laender-list
                [laender]="laender()"
                [laenderLoaded]="isLaenderLoaded()"
                (landSelected)="onLandSelected($event)"
                (landMitOrtUndSchuleAnlegen)="onLandMitOrtUndSchuleAnlegen()" />
        }
    }
</div>
