<div class="mka-start">
    @switch (mkaAuthorizationFacade.startViewState()) {
        @case ('loading') {
            <div data-testid="mka-loading">
                <p>Bitte warten...</p>
            </div>
        }
        @case ('dashboard-privatperson') {
            <mka-dashboard-privatperson></mka-dashboard-privatperson>
        }
        @case ('dashboard-lehrperson') {
            <mka-dashboard-lehrperson></mka-dashboard-lehrperson>
        }
        @case ('needs-wettbewerbsdurchfuehrenden') {
            <mka-durchfuehrungsart-waehlen
                (durchfuehrungsartGewaehlt)="handleDurchfuehrungsartGewaehlt($event)"></mka-durchfuehrungsart-waehlen>
        }
        @case ('guest') {
            <mka-guest-info></mka-guest-info>
        }
        @case ('failed') {
            <div data-testid="mka-authorization-failed">
                <p>Es ist ein technischer Fehler aufgetreten. Bitte versuchen Sie es später noch einmal.</p>
            </div>
        }
    }
</div>
