<div class="mka-schulkatalogsuche">
    @if (isSchulenLoaded()) {
        <mka-schulen-list
            [nameSelectedOrt]="nameSelectedOrt()"
            [schulen]="schulen()"
            [schulenLoaded]="isSchulenLoaded()"
            (schuleSelected)="onSchuleSelected($event)"
            (ortssucheRequested)="onOrtssucheRequested()"
            (schuleNichtGefunden)="onSchuleNichtGefunden()"></mka-schulen-list>
    } @else {
        <mka-orte-suchen
            [orte]="orte()"
            [orteLoaded]="isOrteLoaded()"
            [schuleEintragenMoeglich]="schuleEintragenMoeglich()"
            (searchTermOrtChanged)="onSearchTermOrtChanged($event)"
            (ortSelected)="onOrtSelected($event)"
            (schuleNichtGefunden)="onSchuleNichtGefunden()">
        </mka-orte-suchen>
    }
</div>
